.main {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0; /* 画像の間に余白を作りたくない場合 */
}

.imageContainerWithBackground {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  background-image: url('/4.png');
  background-size: cover;
  background-position: center;
}

.image {
  width: 100%;
  height: auto;
}

.spinner {
  position: fixed; /* 画面全体に対して中央に表示するためにfixedを使用 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* 他の要素の上に表示するための高い値 */
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: inherit;
  position: relative;
  background: #5e3939
    url(https://wedding-invi.jp/upload_data/action_design/img/action4/intro-bg.png) repeat
    top center / 80% auto;
  color: #ffffff;
  width: 100%;
  height: 500px;
}
.host {
  background: url(https://wedding-invi.jp/upload_data/action_design/img/action4/host-bg@2x.png)
    no-repeat center center / cover;
  color: #ffffff;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  background: url(https://wedding-invi.jp/upload_data/action_design/img/action4/countdown-bg@2x.jpg)
    center center / cover;
  color: #ffffff;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100vw; /* ビューポートの幅全体 */
  height: 100vh; /* ビュポート高さ全体 */
  object-fit: cover; /* コンテンツをアスペクト比を保ちつつ、コンテナにわせる */
  z-index: -1; /* 必要に応じて背景に配置 */
}

.footer {
  margin-top: auto;
  padding: 30px;
  text-align: center;
  width: 100%;
}

.centeredText {
  width: 100%;
  height: 120px;
  color: #333;
  font-weight: bold;
  margin: 20px 0;
  display: flex; /* 追加 */
  align-items: center; /* 追加 */
  justify-content: center; /* 追加 */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.fullscreen {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面全体の高さに合わせる */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.7);
  text-align: center; /* 中央寄せ */
  color: #ffffff;
}

.countdownItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.7);
}

.countdownValue {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.countdownLabel {
  font-size: 1rem;
  color: #ffffff;
}

.linkContainer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
